.lugarCardSmall {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: calc(33.3333% - 20px);
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0;  
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  .imageContainer {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
  }
  
  .lugarCardSmall img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  
  .cardInfo1 {
    flex: 1;
    padding: 20px;
    background: white;
  }
  
  .cardHeader1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardRating1 {
    display: flex;
    align-items: center;
  }
  
  .ratingIcon1 {
    max-height: 20px;
    margin-left: 0.5em;
  }
  
  .cardTags1 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 10px 0;
  }
  
  .cardTags1 span {
    background-color: #792A49;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .lugarCardSmall {
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.5s ease-out;
  }
  
  .animate-card {
    opacity: 1;
    transform: translateY(0);
  }
  
  .lugarCardSmall:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .lugarCardSmall img {
    width: 100%;
    height: auto;
  }
  .cardButtons {
    display: flex;
    gap: 10px;  /* Espacio entre botones */
    margin-top: 10px; /* Espacio superior para separación */
    align-items: center;
    justify-content: center;
 }
 
 .customButton {
    background-color: #792A49;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;  /* Padding interno para que el botón tenga un buen tamaño */
    cursor: pointer;  /* Cambiar el cursor al pasar el mouse sobre el botón */
    transition: 0.3s; /* Animación suave al cambiar el estado del botón */
 }
 
 .customButton:hover {
    background-color: #632240;  /* Color más oscuro al pasar el mouse sobre el botón */
 }