.mainContainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%; /* Ajusta según tus necesidades */ /* Centrar el contenedor principal */
  padding: 30px;
}

.headerText1 {
  color: #451729;
  font-size: 24px;
  margin-bottom: 10px;
}

.headerLine1 {
  width: 100%; /* Ajusta al valor que desees */
  height: 2px;
  background-color: #792A49;
  margin-bottom: 20px;

}
.CardSmallContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: center;
  padding: 20px;
  position: relative;
  width: 100%;
}

.lugarCardSmall {
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  height: 500px;  /* Aquí estableces la altura deseada para la tarjeta */
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0;  
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.imageContainer {
  width: 100%;
  height: 70%;  /* Establece la altura al 70% de la tarjeta */
  background-size: cover;  /* La imagen cubre completamente el div */
  background-position: center;  /* Centra la imagen en el div */
}
.lugarCardSmall img {
  width: 100%;
  height: 70%;  /* Esto define que la imagen ocupe el 70% de la altura total de la tarjeta */
  object-fit: cover;
}


.cardInfo1 {
  flex: 1;  /* Ocupa el espacio restante, que sería aproximadamente el 30% */
  padding: 20px;  /* Aquí establecemos un padding para el contenido */
  background: white;  /* En caso de que la imagen no llegue al borde, este fondo asegura que no haya espacios transparentes */
}

.cardHeader1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardRating1 {
  display: flex;
  align-items: center;
}

.ratingIcon1 {
  max-height: 20px;
  margin-left: 0.5em;
}

.cardTags1 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 10px 0; /* Espacio arriba y abajo */
}
.cardTags1 span {
  background-color: #792A49;  /* Color de fondo de la etiqueta; ajusta según tus preferencias */
  color: white;  /* Color del texto de la etiqueta; ajusta según tus preferencias */
  border-radius: 15px;  /* Bordes redondeados */
  padding: 5px 10px;  /* Espacio interior alrededor del texto; ajusta según tus preferencias */
  font-size: 14px;  /* Tamaño de fuente; ajusta según tus preferencias */
  margin-right: 5px;  /* Espacio a la derecha de cada etiqueta; ajusta según tus preferencias */
}
.lugarCardSmall {
  opacity: 0;
  transform: translateY(150px);  /* Mueve la tarjeta hacia abajo inicialmente */
  transition: all 0.5s ease-out;
}

.animate-card {
  opacity: 1;
  transform: translateY(0);  /* Mueve la tarjeta a su posición original */
}

.lugarCardSmall:hover {
  transform: translateY(-10px); /* Mueve la tarjeta ligeramente hacia arriba */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para dar sensación de elevación */
}

.lugarCardSmall img {
  width: 100%;
  height: auto;
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 10px; 
  right: 10px;
  width: 80px;

}

.pagination button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  display: flex;  /* Agregado para centrar la imagen */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */

}

.pagination button:disabled {
  cursor: default;
  opacity: 0.5;
}

.pagination button img {
  width: 15px;
  height: auto;
}