.review-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 5px;
    max-height: 500px;
}


.review-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

/* Estilos para la sección del medio */
.review-card-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Para que tome el espacio restante entre los botones */
    padding: 0 0px;
}

/* Divisiones internas de la sección del medio */
.review-card-middle-left, .review-card-middle-center, .review-card-middle-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}

/* Estilizado específico para elementos */
.review-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 0px;
    margin-top: 5px;
}

.review-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: left;
}
  
.review-rating img {
    margin-left: 5px;
    width: 25px;  /* Ajusta el ancho como desees */
    height: 25px;  /* Ajusta el alto como desees */
}
.review-rating{
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 45px;
    font-weight: bold;
} 

.review-rating img {
    margin-left: 0px;
}
.review-coment {
    overflow-y: auto;
}