.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow the items to wrap when necessary */
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 55px;
}

.logo {
  max-height: 50px;
  margin-right: 20px;
  margin-left: 15px;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  max-width: 70%;
  margin: 0 400px;
}

.search-bar input {
  width: 100%;
  padding: 8px 8px 8px 40px;
  border: none;
  border-radius: 5px;
  background-color: #D9D9D9;
  color: #792A49;
  font-family: 'Quicksand', sans-serif;
  transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
  box-shadow: 0 0 10px rgba(121, 42, 73, 0.3);
  outline: none;
}

.search-bar input::placeholder {
  color: #792A49;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #792A49;
}

.toolbar-actions {
  display: flex;
  align-items: center;
}

.ToolBar-Buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 2%;
  height: 70%;
  order: 1;
}

.btn-crear {
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  color: #792A49;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-message {
  color: black;
}

.btn-crear:hover {
  background-color: #B7B7B7;
  color: #FFFFFF;
}

.btn-icon {
  width: 20px;
  margin-right: 8px;
}

.btn-perfil {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-perfil:hover .profile-icon {
  opacity: 0.8;
}

.react-icons {
  margin-right: 5px;
}

.toolbar .btn-crear:hover,
.toolbar .btn-perfil:hover {
  opacity: 0.8;
}

/* Responsive Styles */
@media (max-width: 575.98px) {
  .toolbar {
      justify-content: space-between;
  }

  .logo {
      margin: 5px;
      max-height: 40px;
  }

  .search-bar {
      margin: 5px 0;
  }

  .ToolBar-Buttons {
      flex-wrap: wrap;
      justify-content: center;
      margin: 5px 0;
  }

  .btn-crear {
      margin: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-bar {
      margin: 0 100px;
  }

  .btn-crear {
      padding: 8px 15px;
  }
}