.GuideRutasPendientesCard-guide-card-container {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 0px 5px #aaa;
    margin: 10px;
    border-radius: 5px;
  }
  
  .GuideRutasPendientesCard-guide-card-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  .GuideRutasPendientesCard-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #792A49;
    color: white;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .GuideRutasPendientesCard-btn:hover {
    background-color: #792A49;
  }