
.accordion-section {
    border: 1px solid #792A49;
    margin-top: 10px;
    
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
}