.CurrentAdventureContent-Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
}
.dropdown {
    padding: 10px;
    margin: 5px;
    border: 1px solid #792A49;
    border-radius: 5px;
    max-width: 25%;
}
.CurrentAdventure-PersonasInput {
    padding: 10px;
    margin: 5px;
    border: 1px solid #792A49;
    border-radius: 5px;
    max-width: 26%;
}


.DestinosCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.CurrentAdventureContent-Container-DestinosCardContainer {

    border-radius: 10px;
    background-color: #D9D9D9;
    min-height: 20vw;
    max-height: 20vw;
    border: 1px solid #792A49;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;

}
.CurrentAdventureContent-Container-BotonConfirmarRuta {
    background-color: #792A49;  
    color: #FFFFFF;  
    border: none;  
    border-radius: 5px;  
    padding: 10px 15px;
    cursor: pointer;  
    font-size: 16px;  
    transition: background-color 0.3s ease;  
    font-weight: bold;  
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    
}


.CurrentAdventureContent-Container-BotonConfirmarRuta:hover {
    background-color: #5C1F37;  
}