/* DestinosCard.css */

.DestinosCard {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
}

.DestinosCard-Button {
    width: 20%;

}

.DestinosCard-Text {
    flex: 2; 
    text-align: left; 
    padding: 0 10px; 
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60%;
}

.DestinosCard-ImageContainer {
    
    display: flex;
    justify-content: flex-start; 

}

.DestinosCard-Image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}